<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
    <form id="kospi" action="kospi/" method="get">
        <input id="date" type="date" name="date" >
        <input type="submit" value="확인">
    </form>
    <div id="kospi_img">
    </div>
</body>
<script src="//cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
<script>

    $("#submitButton").submit(function(e){
        e.preventDefault();
        var kospi_img = $("#kospi_img");
        var date = $("#date").val();
        $.get('kospi/',date,function(data){
            var url =data.img_url;
            kospi_img.append("<img src ='" + url +"'/>");
        });
    });

</script>
</html>